<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">

<head>

    <title th:text="${loggedInUser.name}+' | Dashboard'">Dashboard Page</title>

</head>

<body>

    <div id="content">

        <!-- if user is logged in then we show this sidebar -->

        <div th:if="${loggedInUser}">
            <div th:replace="~{user/sidebar::sidebar}"></div>
        </div>

        <div class="sm:pl-64 pt-20">
            <h1 class="text-5xl ">This is Dashboard page</h1>
        </div>

    </div>

    <script>
        console.log("this is profile page ")
    </script>




</body>

</html>