<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title},~{::script})}">

<head>
    <title>Contact</title>
</head>

<body>
    <div id="content" class="">

        <div class=" grid place-items-center min-h-screen p-4 lg:pt-20 pt-28 bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors duration-300  bg-cover bg-center bg-fixed h-500 w-full" style="background-image: url('images/bgimage.jpg');">
            <div class=" text-center ">
                <h1 class="text-5xl font-extrabold mb-6 ">Smart Contact Manager New</h1>
                <h1 class="text-5xl font-extrabold mb-6">Contact Us</h1>
                <h2 class="text-3xl pl-20 pr-20 text-center mb-6">
                    We’d love to hear from you! Whether you have questions, feedback, or need support, our team is here to help.
                </h2>
                <p class="text-xl max-w-lg mx-auto mb-6">
                    Reach out to us via the contact form below, or get in touch through our email or phone number. We are committed to providing you with the best possible experience and will respond to your inquiries promptly.
                </p>
            </div>
        </div>

    </div>

    <script>
        console.log('Welcome to contact page');
    </script>
</body>

</html>