<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="" data-th-href="@{'/css/output.css'}">
</head>

<body>
    <div class=" underline  bg-gray-200 w-1/2 p-4 mx-auto mt-4 ">
        <h1 class="text-2xl font-bold underline text-red-600" data-th-text="${name}">Home Page</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate, excepturi consequatur, sapiente vitae voluptatum deserunt, adipisci vel nam laborum quod quaerat repudiandae? Accusantium omnis hic aut deserunt velit nulla provident!</p>
    </div>

    <!-- flowbite content -->




    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>

</html>