<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title},~{::script})}">

<head>
    <title>services Page</title>
</head>

<body>
    <div id="content" class="">
        <div class=" grid place-items-center min-h-screen p-4 lg:pt-20 pt-28 bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100 transition-colors duration-300  bg-cover bg-center bg-fixed h-500 w-full" style="background-image: url('images/bgimage.jpg');">
            <div class=" text-center ">
                <h1 class="text-5xl font-extrabold mb-6 ">Smart Contact Manager New</h1>
                <h1 class="text-5xl font-extrabold mb-6">Our Services</h1>
                <h2 class="text-3xl pl-20 pr-20 text-center mb-6">
                    We offer a range of services tailored to help you manage your contacts more effectively.
                </h2>
                <ul class="list-disc pl-20 pr-20 text-xl mb-6">
                    <li class="mb-4">
                        <strong>Contact Organization:</strong> Our platform provides advanced features to categorize and organize your contacts, making it easy to find who you need, when you need them.
                    </li>
                    <li class="mb-4">
                        <strong>Secure Storage:</strong> We prioritize the security of your information with robust encryption and backup solutions, ensuring your contacts are safe and accessible.
                    </li>
                    <li class="mb-4">
                        <strong>Seamless Integration:</strong> Connect with your existing tools and platforms effortlessly, allowing you to import, export, and sync your contacts without hassle.
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <script>
        console.log('Welcome to services page');
    </script>
</body>

</html>